body
{
    margin: 0;
    height: 100%;
    widows: 100%;
}

#demo
{
    width: 300px;
    background: brown;

}

#demo_2
{
    width: 300px;
    background: brown;

}

#seeReport
{
    background: yellow;
}

#get_employees
{
    display: none;
}