@import "Variables";

.auth-wrapper {
    display: grid;
    grid-template-columns: 40% 60%;
    height: 100vh;
    background-color: $LightBlue;
}

.auth-right {
    background-image:  linear-gradient(#262d3d11, #262d3d11), url('https://images.unsplash.com/photo-1520607162513-77705c0f0d4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1649&q=80');
    background-position: right;
    background-size: cover;

    div {
        display: inline-block;
        background: $Blue;
        border-radius: 50%;
        height: 55px;
        width: 55px;
        vertical-align: middle;
        text-align: center;
        margin-top: 55%;
        margin-left: 10%;
        cursor: pointer;
    }

    .auth-video-icon {
        margin-top: 30%;
        height: 20px;
        width: 20px;
        color: $White;
    }

    span:nth-child(2) {
        display: block;
        margin-left: 10%;
        font-size: 40px;
        letter-spacing: 5px;
        color: $White;
        font-weight: 600px;
        font-family: 'Ubuntu', sans-serif;
    }

    span:nth-child(3) {
        margin-left: 10%;
        color: #d4d1d1;
        letter-spacing: 1px;
    }

}

.auth-left {
    padding: 50px;
    padding-left: 15%;

    #auth-logo {
        display: block;
        width: 70px;
        height: 70px;
        margin-left: 25%; 
    }

    .auth-subtitle {
        display: block;
        margin-top: 20%;
        color: $DarkBlue;
        margin-bottom: 0.5%;

        a {
            color: $Blue;
            &:hover {
                color: $Green;
            }
        }
    }

    .auth-form-input {
        display: flex;
        flex-direction: row;
        width: 100%;

        span {
            background-color: $White;
            height: calc(2.75rem + 2px);
            padding: .625rem .75rem;
            color: $DarkBlue;
        }

        input {
            width: 100%;
            outline: none;
            max-width: 80%;
            box-sizing: border-box;
            display: block;
            font-size: 16px;
            font-weight: 550;
            letter-spacing: 1px;
            color: $Grey;
            font-weight: 400;
            background-color: $White;
            height: calc(2.75rem + 2px);
            padding: .625rem .75rem;
            border: 0;
        }
    }
}

.auth-error-handling span {
    display: block;
    font-size: 13.5px;
    color: $DarkRed;
    margin-bottom: 5%;
    width: 85%;
}

.auth-form-section-two {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    width: 85%;


    span {
        width: 100%;
        display: block;
        font-size: 16px;
        margin-top: 15px;
        color: $Grey;
        cursor: pointer;
        font-weight: 400;
        padding-left: 25px;
    
        &:hover {
            color: $Blue;
            text-decoration: underline;
        }
    }
    
    input {
        border-radius: 3px;
        font-family: 'Barlow', sans-serif;
        background-color: $Blue;
        width: 100%;
        max-width: 88%;
        min-height: 45px;
        line-height: 20px;
        padding: 0 15px;
        font-size: 18px;
        color: $White;
        font-weight: 500;
        text-align: center;
        border: 1px solid transparent;
        cursor: pointer;
        outline: none;
        margin-bottom: 3%;
        &:hover{
            box-shadow: 1px 1px 15px 1px $Blue;
        }
    }
}

.auth-social-btns {
    display: flex;
    margin-top: 5%;

    button{
        width: 100%;
        outline: none;
        max-width: 80%;
        box-sizing: border-box;
        display: block;
        font-size: 16px;
        font-weight: 550;
        letter-spacing: 1px;
        color: $Grey;
        font-weight: 400;
        background-color: $White;
        height: calc(2.75rem + 2px);
        padding: .625rem .75rem;
        border: 0;
        text-align: center;
        cursor: pointer;
    }

    span {
        background-color: $White;
        height: calc(2.75rem + 2px);
        padding: .625rem .75rem;
    }

    .auth-google {
        color: $White;
        background-color: $DarkRed;
    }

    .auth-linkedIn {
        color: $White;
        background-color: $DarkBlue;
    }
}

.auth-copyright {
    display: block;
    width: 90%;
    margin-top: 10%;
    color: $DarkBlue;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .auth-wrapper{
        display: block;
        margin-bottom: 20px;
    }

    .auth-right {
        display: none;
    }

    .auth-left {
        padding: 0;
        padding-left: 8%;

        #auth-logo {
            height: 50px;
            width: 50px;
            margin-left: 10%;
            margin-bottom: 40%;
        }
    }

    .auth-form-section-two {
        button {
            margin-left: 13%;
            max-width: 68%;
        }

        span {
            margin-left: 5%;
        }
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .auth-wrapper{
        display: block;
        margin-bottom: 20px;
    }

    .auth-right {
        display: none;
    }

    .auth-left {
        #auth-logo {
            margin-left: 30%;
        }
    }

    .auth-form-section-two {
        button {
            max-width: 65%;
            margin-left: 13%;
        }

        span {
            margin-left: 4%;
        }
    }
}