@import "Variables";
@import "Mixins";

.dash_container{
    background-color: $LightBlue;
    color: $DarkBlue;
    width: 100vw;
}

.dash_content_logo{
    margin-top: 8%;
}

.dcoc_hpc{
    color: $DarkBlue;
    font-weight: bold;
}

.dcoc_hpc_c{
    color: $Grey;
}

.dash_sidebar{
    position: fixed; 
    height: 100%;
    width: 172px;
    min-width: 120px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #303641;
    overflow-x: hidden;
    

    .dash_sidbar_logo{
        display: block;
        padding: 25px;
        margin-top: 5%;
        font-weight: bolder;
        color: $Blue;
    }

    ul{
        margin-top: 40%;
        color: $White;
        font-weight: 100;


    }

    ul li{
        display: inline-block;
        padding: 20px;
        width: 100%;
    }

    li{
        cursor: pointer;

        .dash_icons_sidebar{
            font-size: 17px;
            margin-right: 5px;
        }

        .dash_icon_name{
            margin-left: 15px;
        }

        &:hover{
            background-color: #373D48;
            color: $Blue;
        }

        &:nth-child(6){
            background-color: #373D48;
            color: $Red;
            
        }
    }

    .dash_item_logout{
        margin-top: calc((100%-10%));
        &:hover{
            background-color: $Red;
            color: $White;
        }
    }

    .dash_item_active{
        background-color: $LightBlue;
        color: $Blue;
    }
}

.dash_main_item{
    color: $Grey;
    margin-left: 172px; 
    position: relative;
}

.dash_navbar{
    // min-height: 5%;
    background-color: $White;   
    border-left: 1px solid $LightBlue;
    width: 100%;
    color: $DarkBlue;
    position: fixed;
    top: 0;
    z-index: 1000;
    
    .dash_navbar_items{
        @include grid(true);
        font-size: 1rem;
        height: 100%;
        padding: 1% 0%;
        margin-left: 40%;

        ul{
            margin-left: 65%;
        }

        ul li {
            display: inline-block;
            cursor: pointer;
        }

        li {
          margin-left: 15px;  
        }

        .dash_logo_nav{
            color: $Blue;
            font-weight: bolder;
        }
    }    
}