@import "Variables";
@import "Mixins";

.dash_content{
    margin-top: 3%;
    margin-left: 5%;

    .dash_content_logo{
        color: $DarkBlue;
        font-weight: bold;
        font-size: 18px;
    }

    .dash_content_search{
        @include grid(true);
        margin-top: 2%;

        span{
            background-color: $White;
            @include iconspan();
        }

        input{
            @include button(100%, 20%, $White, $Grey);
            padding: .625rem .75rem;
            border: 0;
        }

        .dash_button_search{
            @include button(45%, 20%, $Blue, $White);
            border-radius: 3px;
            margin-right: 2%;
        }
    }

    span{
        display: block;
    }

    .dash_content_overview{
        margin-top: 2%;

        .dash_content_overview_items{
            margin-top: 2%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 2fr 2fr;

            .dash_content_overview_card{
                box-shadow: 0 4px 8px 0 #262d3d25;
                transition: 0.3s;
                border-radius: 5px;
                padding: 10px 16px;
                margin-right: 25px;
                background-color: $White;
            }
        }
    }
}

.dash_content_overview_figures{
    color: $DarkBlue;
}

.dash_content_jobs_ml{
    margin-top: 4%;

    .dash_content_jobs_ml_items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 100%;
    }

    .dash_content_jobs_ml_card_item{
        margin-bottom: 5%;
        &:nth-child(3){
            margin-right: 5%;
        }
        &:nth-child(6){
            margin-right: 5%;
        }
    }
}

.dash_job_item_img_layout{
    width: 100%;


    img{
        height: 64px;
        width: 64px;
    }

    .dash_job_item_date{
        color: $Blue;
        float: right;
        // margin-left: 10%;
    }

    .dash_job_item_button{
        font-weight: 400;
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid $Green;
        font-size: 16px;
        padding: 5px 30px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
        outline: none;
        // background-color: $Green;
        color: $Green;

        &:hover{
            color: $White;
            background-color: $Green;
        }
    }
}

.dash_job_item_location{
    display: flex;
    color: $DarkBlue;

    span {
        margin-left: 5%;
    }
}