@import "Variables";
@import "Mixins";

.dash_container{
    background-color: $LightBlue;
    color: $DarkBlue;
    width: 100vw;
}

.dash_sidebar{
    position: fixed; 
    height: 100%;
    width: 172px;
    min-width: 120px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #303641;
    overflow-x: hidden;
    

    .dash_sidbar_logo{
        display: block;
        padding: 25px;
        margin-top: 5%;
        font-weight: bolder;
        color: $Blue;
    }

    ul{
        margin-top: 40%;
        color: $White;
        font-weight: 100;
    }

    ul li{
        display: inline-block;
        padding: 20px;
        width: 100%;
    }

    li{
        cursor: pointer;
        .dash_icons_sidebar{
            font-size: 17px;
            margin-right: 15px;
        }

        &:hover{
            background-color: #373D48;
            color: $Blue;
        }
    }

    .dash_item_logout{
        margin-top: calc((100%-10%));
        &:hover{
            background-color: $Red;
            color: $White;
        }
    }

    .dash_item_active{
        background-color: $LightBlue;
        color: $Blue;
    }
}

.dash_main_item{
    color: $Grey;
    margin-left: 172px; 
    position: relative;
}

.dash_navbar{
    min-height: 8%;
    background-color: $White;   
    border-left: 1px solid $LightBlue;
    width: 100%;
    color: $DarkBlue;
    position: fixed;
    top: 0;
    z-index: 1000;
    
    .dash_navbar_items{
        @include grid(true);
        margin-left: 40%;
        padding-top: 1%;
        padding-bottom: 1%;

        ul li {
            display: inline-block;

            span {
                cursor: pointer;
    
                &:hover{
                    color: $Blue;
                }

                &:nth-child(4){
                    margin-left: 100px;
                }

            }
        }

        .dash_last_icon{
            margin-left: 8px;
        }


        .dash_logo_nav {
            margin-right: 60%;
        }


        .dash_navbar-icons{
            margin-right: 10px;
            font-size: 17px;
            margin-top: 5px;
        }
        
        div{
            height: 30px;
            border: 1px solid $Grey;
            background-color: $DarkBlue;
            border-radius: 50%;
            color: $LightBlue;
            padding: 4px;
            text-align: center;
            font-size: 13px;

            &:hover{
                color: $Blue;
                border-color: $Blue;
                background-color: $White;
            }
        }      
    }    
}