@import "Variables";
@import "Mixins";

.dash_content{
    margin-top: 3%;
    margin-left: 5%;

    .dash_content_logo{
        color: $DarkBlue;
        font-weight: bold;
        font-size: 18px;
    }

    .dash_content_search{
        @include grid(true);
        margin-top: 2%;

        span{
            background-color: $White;
            @include iconspan();
        }

        input{
            @include button(100%, 20%, $White, $Grey);
            padding: .625rem .75rem;
            border: 0;
        }

        .dash_button_search{
            @include button(45%, 20%, $Blue, $White);
            border-radius: 3px;
            margin-right: 2%;
        }
    }

    span{
        display: block;
    }

    .dash_content_overview{
        margin-top: 2%;

        .dash_content_overview_items{
            margin-top: 2%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 2fr 2fr;

            .dash_content_overview_card{
                box-shadow: 0 4px 8px 0 #262d3d25;
                transition: 0.3s;
                border-radius: 5px;
                padding: 10px 16px;
                margin-right: 25px;
                background-color: $White;
            }
        }
    }
}

.dash_content_overview_figures{
    color: $DarkBlue;
}

.dash_content_jobs_ml{
    margin-top: 4%;

    .dash_content_jobs_ml_items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 100%;
    }

    .dash_content_jobs_ml_card_item{
        margin-bottom: 5%;
        &:nth-child(3){
            margin-right: 5%;
        }
        &:nth-child(6){
            margin-right: 5%;
        }
    }
}