@import "Variables";
@import "Mixins";

.dash_content-fj{
    margin-left: 0;
    margin-top: 0;
}

.dash_search_data{
    // display: grid;
    // grid-template-columns: 30% 70%;
}


.dash_filter_by{
    background-color: $LightBlue;
    height: 100vh;
    padding: 50px;
    padding-top: 5.5%;
    position: fixed;
    width: 16vw;
    top: 0;
    overflow: scroll;
    font-size: 15px;

    .dash_filter_word{
        margin-top: 10%;
        font-weight: bold;
        color: $DarkBlue;
        text-decoration: underline;
        font-size: 17px;
    }
}



.dash_filter_items{
    @include grid(true);
    height: 100%;
    width: 172px;
    min-width: 120px;
    z-index: 1;
    top: 0;
    left: 0;
    margin-bottom: 8%;
    

    .dash_checkbox_label {
        display: block;
        position: relative;
        cursor: pointer;
        height: 20px;
        width: 24px;
        clear: both;
    }
    
    .dash_checkbox_label input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    
    .dash_checkbox_label .dash_checkbox_custom {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 20px;
        width: 20px;
        background-color: transparent;
        transition: all 0.3s ease-out;
        border: 1px solid $Blue;
    }
    
    
    .dash_checkbox_label input:checked ~ .dash_checkbox_custom {
        background-color: $LightBlue;
        border-radius: 5px;
        -webkit-transform: rotate(0deg) scale(1);
        -ms-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1);
        opacity:1;
        border: 2px solid $LightBlue;
    }
    
    
    .dash_checkbox_label .dash_checkbox_custom::after {
        position: absolute;
        content: "";
        left: 12px;
        top: 12px;
        height: 0px;
        width: 0px;
        border-radius: 5px;
        border: solid $Blue;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(0deg) scale(0);
        -ms-transform: rotate(0deg) scale(0);
        transform: rotate(0deg) scale(0);
        opacity:1;
        transition: all 0.3s ease-out;
    }
    
    
    .dash_checkbox_label input:checked ~ .dash_checkbox_custom::after {
      -webkit-transform: rotate(45deg) scale(1);
      -ms-transform: rotate(45deg) scale(1);
      transform: rotate(45deg) scale(1);
      opacity:1;
      left: 8px;
      top: 3px;
      width: 6px;
      height: 12px;
      border: solid $Blue;
      border-width: 0 2px 2px 0;
      background-color: transparent;
      border-radius: 0;
    }
}

.dash_filter_salary{
    margin-top: 15%;
    margin-bottom: 2%;
    font-weight: bold;
    color: $DarkBlue;
}

.dash_job_search_container{
    // width: 100%;
    height: 100vh;
    width: 65vw;
    position: absolute;
    margin-left: 20%;
    margin-top: 8%;
    margin-bottom: 10%;
    overflow: hidden;
}

.dash_job_search {
    display: grid;
    background-color: $White;
    grid-template-columns: 45% 55%;
    width: inherit;
    padding-bottom: 8px;
    box-shadow: 0 4px 8px 0 #262d3d25;
    top: 10;
    position: fixed;

    .dash_content_search input{
        max-width: 80%;
    }
}

.dash_jobs_section{
    width: inherit;
    overflow: scroll;
    position: fixed;
}

.dash_jobs_section_items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 8%;
    
}

.dash_content_jobs_ml_card_item{
    box-shadow: 0 4px 8px 0 #262d3d25;
    transition: 0.3s;
    border-radius: 5px;
    padding: 10px 16px;
    background-color: $White;
    cursor: pointer;
    margin-top: 5%;
    margin-right: 5%;

    img {
        height: 64px;
        width: 64px;
    }

    &:nth-child(3){
        margin-right: 0;
    }

    &:nth-child(6){
        margin-right: 0;
    }

    &:nth-child(7){
        margin-bottom: 5%;
    }

    &:nth-child(8){
        margin-bottom: 5%;
    }

    &:nth-child(9){
        margin-right: 0;
        margin-bottom: 5%;
    }
}

.dash_job_item_date{
    font-size: 14.5px;
    color: $Blue;
    
    .dash_job_item_button{
        font-weight: 400;
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid $Green;
        padding: 5px 30px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
        outline: none;
        color: $Green;
        font-size: 14.5px;
        &:hover{
            color: $White;
            background-color: $Green;
        }
    }
}

.dash_job_item_img_layout{
    width: 100%;
    display: grid;
    grid-template-columns: 65% 35%;

    img{
        height: 64px;
        width: 64px;
    }

}

.dash_job_item_location{
    display: flex;
    color: $DarkBlue;
    font-size: 14.5px;
    width: 100%;

    .dash_job_location_icon{
        margin-right: 10px;
    }

    .dash_job_bk_icon{
        margin-left: 15px;
    }
}

.dash_title_name{
    .dash_title_tt{
        color: $DarkBlue;
        font-weight: bold;
    }

    .dash_title_nm{
        font-size: 15px;
    }
}

.dash_jobs_pagination_container{
    width: 100%;
}

.dash_jobs_pagination{
    display: flex;
    float: right;
    background-color: $White;
    border: 2px solid $Blue;
    border-radius: 5px;

    .dash_pag_numb{
        padding-top: 5px;
    }


    span{
        padding: 5px 10px 5px 10px;
    }
}

.dash_pag_icon_left{
    border-right: 1px solid $Blue;
    padding: 5px 10px 5px 10px;
    color: $Blue;
    cursor: pointer;
}

.dash_pag_icon_right{
    border-left: 1px solid $Blue;
    padding: 5px 10px 5px 10px;
    color: $Blue;
    cursor: pointer;
}

.my_job_search_container{
    // 
}


