$Blue: #3796F6;
$Orange: #FF790E;
$Red: #EC547A;
$LightBlue: #F7FAFC;
$Grey: #90a8be;
$Green: #13aa52;
$DarkBlue: #364E65;
$White: #ffffff;
$Black: #1F1B24;
$LightBlack: #403b3b;
$DarkRed: #eb2f06;
$FormBorder: #262d3d7e;
