$Blue: #3796F6;
$Orange: #FF790E;
$Red: #EC547A;
$LightBlue: #F7FAFC;
$Grey: #90a8be;
$Green: #5BCEAE;
$DarkBlue: #364E65;
$White: #ffffff;
$Black: #262d3d;
$LightBlack: #403b3b;
$DarkRed: #eb2f06;
$FormBorder: #262d3d7e;
