body
{
    margin: 0;
    height: 100%;
    width: 100%;
    color: rgb(27, 27, 27);
    background: rgb(255, 255, 255);
   
}

.how_it_works
{
    background: #f9f9f9;
    height: 60vh;
    padding: 50px;
    margin-top: 100px;
}

.how_it_works_Heading
{
    text-align: center;
    font-family: 'Bree Serif', serif;
    text-decoration: underline;
    margin-bottom: 50px; 
}

.how_it_works_icons
{
    height: 60px;
    width: 60px;
    margin-left: 20%;
}

.how_it_works_divs
{
    display: flex;
    flex-direction: row;
}

.skills_on_platform
{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.skils_divs
{
    width: 250px;
    padding: 10px;
    background: #fff;
    margin-left: 100px;
    margin-bottom: 20px;
    box-shadow: rgba(57, 73, 76, 0.4) 0px 2px 10px 1px, rgba(57, 73, 76, 0.25) 0px 1px 2px;
    cursor: pointer;
}

.skils_divs_first
{
    width: 250px;
    padding: 10px;
    background: rgb(236, 235, 235);
    margin-left: 20px;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: rgba(57, 73, 76, 0.4) 0px 2px 10px 1px, rgba(57, 73, 76, 0.25) 0px 1px 2px;
    cursor: pointer;
}

.skills_icons
{
    width: 50px;
    height: 50px;
    margin-left: 40%;
}

.skilss_text
{
    text-align: center;
    font-family: 'Slabo 27px', serif;
    font-size: 25px;
}

.how_it_works_text
{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Ubuntu', sans-serif;
}

.how_it_works_columns
{
    margin-left: 70px;
    text-align: center;
}


.how_it_works_column_first
{
    margin-left: 10px;
    word-wrap: break-word;
}

.apply_btn
{
    margin-left: 45%;
    margin-top: 50px;
}

.last_btn
{
    margin-left: 45%;
}

.success_story
{
    display: flex;
    flex-direction: row;
    background: #0d1118;
    margin-bottom: 100px;
    padding: 100px;
}

.success_story_img_size
{
    width: 400px;
    height: 300px;
}

.success_text
{
    color: #fff;
    font-family: 'Slabo 27px', serif;
    text-align: center;
    margin-left: 10%;
    margin-top: 5%;
}

.overall_btn_design
{
    border: 2px solid #17a2b8;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    padding: 11px 38px;
    text-decoration: none;
    background: #17a2b8;
    cursor: pointer;
}

.overall_btn_design:hover
{
   
    background: #FBD786;
    border: 2px solid #FBD786;
}

.last_btn_skill
{
    border: 2px solid #17a2b8;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    padding: 11px 38px;
    text-decoration: none;
    background: #17a2b8;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.last_btn_skill:hover
{
   
    background: #FBD786;
    border: 2px solid #FBD786;
}

button:focus
{
    outline: none;
}

@media(max-width:900px)
{
    .how_it_works_divs
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .how_it_works
    {
        width: 100%;
        padding: 0;
        height: 100%;
        font-size: 20px;
    }

    .skills_on_platform
    {
        display: flex;
        flex-direction: column;
    }

    .success_story
    {
        display: flex;
        flex-direction: column;
        padding: 0;
        background: rgb(73, 73, 73);
    }

    .success_story_img_size
    {
        width: 100%;
        height: 200px;
    }

    .how_it_works_icons
    {
        margin-right: 150px;
        height: 60px;
        width: 60px;
    }

    .how_it_works_text
    {   
        margin-right: 100px;
        margin-bottom: 50px;
    }

    .how_it_works_column_first
    {
        margin-left: 100px;
    }

    .overall_btn_design
    {
        border: 2px solid #17a2b8;
        display: inline-block;
        cursor: pointer;
        color: #fff;
        font-family: 'Bree Serif', serif;
        font-size: 20px;
        padding: 11px 38px;
        text-decoration: none;
        background: #17a2b8;
        cursor: pointer;
    }

    .apply_btn
    {
        margin-left: 25%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .skils_divs
    {
        width: 250px;
        padding: 10px;
        background: #fff;
        margin-left: 15%;
        margin-bottom: 20px;
        box-shadow: rgba(57, 73, 76, 0.4) 0px 2px 10px 1px, rgba(57, 73, 76, 0.25) 0px 1px 2px;
        cursor: pointer;
    }

    .skills_on_platform
    {
        margin-top: 50px;
    }

    .skils_divs_first
    {
        width: 250px;
        padding: 10px;
        background: rgb(236, 235, 235);
        margin-left: 15%;
        margin-bottom: 20px;
        background: #fff;
        box-shadow: rgba(57, 73, 76, 0.4) 0px 2px 10px 1px, rgba(57, 73, 76, 0.25) 0px 1px 2px;
        cursor: pointer;
    }

    .last_btn
    {
        margin-left: 25%;
        margin-bottom: 50px;
    }

    .success_text
    {
        color: #fff;
        font-family: 'Slabo 27px', serif;
        text-align: left;
        margin-top: 5%;
    }
    

}